@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#quote-box {
  border-radius: 3px;
  background-color: white;
  width: 550px;
  padding: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.iconQuote {
  padding-right: 10px;
}

#text {
  font-family: 'Raleway', sans-serif;
  font-size: xx-large;
  padding-bottom: 30px;
}

#author {
  align-self: flex-end;
}

#buttons {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  padding-right: 10px;
}

button:hover, a:hover {
  opacity: 0.9;
}